.main_categories_container {
  
  display: flex;
  justify-content: space-around;
}

.category_card_container {
  cursor: pointer;
}

.category_image {
  width: min(15rem, 22rem, 30rem);
  height: min(10rem, 14rem, 20rem);
  background-size: cover;
  /* object-fit: fill; */
  background-position: center;
  background-color: white;
}

.category_title {
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
}

.category_image:hover{
    opacity: 0.7;
    transition: 0.5s;
}

.category_title:hover{
    color: #16bab1;
    /* transition: 0.5s; */
}